
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 4228px;
    /* height: 4096px; */
    /* height: 8192px; */
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-bottom: 2px solid black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

#header_shadow {
    width: 120%;
    height: 64px;
    background: white;

    position: absolute;
    top: 0;

    box-shadow: -45px 31px 96px rgba(0,0,0,0.6);
}

main {
    padding-top: 128px;
}

#hero {
    background-color: blanchedalmond;
    padding: 32px;
}

.info_container {
    width: 100%;
}

#caracteristicas {
    position: relative;
    height: 3200px;
}

.tarjetas {
    width: 256px;
    height: 256px;

    padding: 16px;
    border-radius: 16px;
    border: 4px solid black;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0)
    );

    position: absolute;
    display: grid;
    place-items: center;
    text-align: center;

    transition: 0.2s cubic-bezier(1, 0.02, 0.58, 1);
}

.tarjetas:hover {
    box-shadow: 2px 2px 22px black;
}

#t_uno {
    width: 850px;
    height: 220px;
    top: 712px;
    left: 50%;
    transform: translateX(-50%);
}

#t_dos {
    width: 400px;
    height: 220px;
    top: 1168px;
    left: 12%;
}

#t_tres {
    width: 400px;
    height: 220px;
    top: 1560px;
    left: calc(88% - 400px);
}

#t_cuatro {
    width: 400px;
    height: 220px;
    top: 1952px;
    left: 12%;
}

#t_cinco {
    width: 400px;
    height: 220px;
    top: 2344px;
    left: calc(88% - 400px);
}

#t_seis {
    width: 50vw;
    top: 2860px;
    left: 50%;
    transform: translateX(-50%);
}

#caracteristicas > :nth-child(7){
    width: 10px;
    height: 10px;
    border: none;

    position: absolute;
    top: 3740px;
    left: 50%;
    transform: translateX(-50%);

    background-color: red;
    clip-path: 
    polygon(30% 0,
            45% 10%,
            50% 15%,
            55% 10%,
            70% 0,
            90% 13%,
            100% 40%,
            75% 75%,
            50% 100%,
            25% 75%,
            0% 40%,
            10% 13%);
    overflow: hidden; 


    animation: girar 1s linear infinite;
}

.figuras {
    position: absolute;
    background-color: black;
}

#c_izquierda {
    width: 150px;
    height: 400px;

    top: 2800px;
    left: 2%;

    clip-path: polygon(
        50% 0, 0 100%, 25% 100%, 100% 0
    );
}

#c_deracha {
    width: 150px;
    height: 400px;

    top: 2800px;
    left: calc(98% - 150px);

    clip-path: polygon(
        50% 0, 0 0, 75% 100%, 100% 100%
    );
}

#cta {
    height: 384px;
    background-color: blanchedalmond;
}

footer {
    height: 256px;
    background-color: rgb(35, 35, 35);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px;
    color: white;
}

#info_contacto {
    display: grid;
    gap: 12px;
}

button {
    width: 100px;
    height: 28px;

    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 12px;

    transition: 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.2);
    background-color: blue;
    color: black;
    border-color: black;
}


@keyframes girar {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}